@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');


body {
    background-color: #040C4CBF;
    text-align: left;
    color: white;
    font-family: "Pangolin", Courier New;
    padding-top: 75px;
}

/*============*/
/* NAVIGATION */
/*============*/

.navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #2F366A;
    box-shadow: 0 2px 0 #2D377F;
}

.navlist {
    display: flex;
    margin-right: 2rem;
}

.navlist a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}

.navlist a:hover {
    background: #09146AA1;
}

/*===========*/
/*    IDS    */
/*===========*/

#header {
    position: fixed;
    font-family: "Coming Soon", Courier New;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    top: 0;
}

#lists a {
    font-size: 15px;
    color: white;
}

#headertext {
    width: auto;
    height: auto;
    font-size: 30px;
    background-color: #14213D;
    align-content: center;
    margin: 0.55rem;
}

#intro {
    text-align: center;
    padding: 60px;
}

#welcome {
    font-size: 150px;
    text-align: center;
    padding: 100px;
    font-family: "Coming Soon";
}

#about {
    padding: 20px;
    background-color: #09146AB3;
}

#mainbod {
    padding: 20px;
    background-color: #08026AB3;
}

#footer {
    background-color: #040C4CEB;
    padding: 30px;
}

/* PROJECTS */
#Project1 {
    padding: 50px;
}

#Project2 {
    padding: 50px;
}

#Project3 {
    padding: 50px;
}


/*===========*/
/*  CLASSES  */
/*===========*/

.headings {
    text-align: left;
    font-family: "Coming Soon", Courier New;
    color: white;
    font-size: 50px;
}

.project-headings {
    text-align: left;
    font-family: "Coming Soon", Courier New;
    color: white;
    font-size: 30px;
}

.para {
    font-size: 20px;
}
